<html lang="en">
{% extends 'layout.html.j2' %}
{% block body %}


<h2> Legal Statement </h2>
<p>
The information made available by the University of Leeds over the World Wide
Web does not form part of any contract. Changing circumstances may cause the
University to have to change its provisions at any time. Whilst every effort has
been made to ensure the accuracy of the information presented, the University
cannot accept responsibility for errors.
</p>
<h1> PRIVACY AND COOKIES NOTICE </h1>

Privacy notice for <b>https://swift-pm.herokuapp.com</b>
<br>
<p>
This privacy notice has been updated in line with the General Data Protection
Regulation. Only essential cookies to enable logged in function are used, by
logging in you are consenting to use of this cookie.
</p>

<h4> 1. Purpose of this Notice </h4>
<p>
This Notice tells you how the University of Leeds will collect and use your personal data
when you access this website. The University is a “controller” of this personal
data for the purposes of the data protection legislation. The Heroku webserve may also
collect your browser data (we do not transfer any data to Heroku), however we have no access or controll over this and can only point you to
<a href="https://www.salesforce.com/company/privacy/full_privacy/">Heroku/Salesforce privacy policy</a>.

</p><p>

Note that additional information will be provided where you are requested to
enter personal information and this will vary between our various websites. 
(Information will be provided through the relevant privacy notice for that website).
It is important that you read this Notice together with any other privacy notice
we provide on specific occasions when we are collecting or processing personal
data about you so that you are fully aware of how and why we are using your data. 
This Notice supplements the other notices and is not intended to override them.
</p>

<h4>2. Changes to this Notice</h4>

<p>
We keep the information provided in this Notice under review. This Notice may
be updated from time to time. If we make any substantial updates, we will draw
these to your attention.
</p><p>
We will not use your personal data in any manner that is incompatible with the
purpose for which the data were collected originally, unless we have obtained
your consent to that additional use.
</p>
<h4>3. Anything you are not clear about</h4>
<p>
If there is anything you are unclear about, please contact our Data Protection
Officer, who shall be happy to answer any queries you may have concerning this
Notice or the way in which we process your personal data.
The Data Protection Officer's contact details are provided at the end of this Notice.
</p>
<h4>4. Purpose of processing your data</h4>
<p>
Where we request personal data from you on our website you will be informed at
that time of the purpose for which the data will be processed and how it will be
 processed, its legal basis for processing as well as any transfers to third parties.
</p>
<h5>5. Purpose of processing - automated collection of personal information </h5>
<p>

As with most other web servers, when you access these web pages certain
information you provide will automatically be recorded Heroku. This may include
your IP address, browser type, and information relating to the page you last
visited. This information may be processedto estimate how much usage of the
server is made by different categories of users and in the event of a breach of
security may be used to aid detection.
</p>
<p>
Please refer to the <a href="https://www.salesforce.com/company/privacy/full_privacy/">Heroku/Salesforce privacy policy</a> for further information.
</p>
<h4>6. Third-party access</h4>
<p>
Your personal data that you have provided will not routinely be sent to third
parties (unless notified - see 4. above).
</p>
<h4>7. Cookies</h4>

<p>
Cookies are small text files that are placed on your device by websites
that you visit. They are widely used in order to make websites work, or
work more efficiently, as well as to provide information to the owners of
the site.
</p>
<p>
Our website uses first party cookies which are set by our web server as
opposed to a different web server. They are categorised as strictly
necessary, which are essential to the operation of the website, and
performance cookies which collect anonymous information about the usage
of our website. By using our website you agree that we can place these
types of cookies on your device.
</p><p>
We do not use cookies to collect personal information about you. Should
you wish to restrict or block cookies which are set by our website you
can do this through your browser settings. The ‘help’ function within
your browser or the manual that comes with your device should tell you
how. You may also wish to visit www.aboutcookies.org which contains
comprehensive information on how you can do this on a wide variety of
browsers. Please be aware that restricting cookies may impact on the
functionality of our website.
</p>

<h4>8. Your rights as a data subject</h4>

<p>
Under the GDPR, in certain circumstances, you have the right to:
withdraw your consent to our processing of your personal data where that is the
legal basis for such processing access any of your personal data which we hold
have your personal data which we hold corrected if it is inaccurate have any of
your personal data which we hold erased restrict the ways in which we process
your personal data object to our processing of your personal data receive a copy
of any of your personal data which we hold in a structured and commonly used
machine-readable format in certain cases not be subject to a decision based
solely on automated decision making lodge a complaint with a supervisory authority.
</p>

<h4>9. Queries and complaints</h4>
<p>
If you have any queries relating to this privacy notice or the way your data is
being processed through this website then please contact cemac-support at leeds
dot ac dot uk. If you are dissatisfied with their response please contact the
University Webmaster, webmaster at leeds dot ac dot uk.
</p>
<p>
<p>To exercise your rights regarding your Personal Data, or if you have questions
regarding the under lying Heroku parts of this Privacy Statement or their privacy
practices please fill out <u><a href="https://www.salesforce.com/form/contact/contact-privacy.jsp">this form</a></u> or mail them at:</p>
<p>Salesforce Data Protection Officer (Salesforce Privacy Team)</p>
<p>415 Mission St, 3rd Floor</p>
<p>San Francisco, CA 94105, USA</p>

</p><p>
The UK’s regulator for the DPA and GDPR is the Information Commissioner’s Office
(ICO). The University is registered as a Data Controller with the ICO
Should you be dissatisfied with our handling of your concerns you have the right
to complain to a supervisory authority. In the case of the UK this is the
Information Commissioner’s Office and details can be found at https://ico.org.uk.
</p>

<p>
This Privacy Notice was generated following the University of Leeds Privacy Notice
<a href="https://comms.leeds.ac.uk/websites/policy-on-privacy-notices/"> template</a>.
</p>
{% endblock %}
</html>
